body {
  width: 100%;
  background-image: url("../images/list-app-img.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Helvetica", sans serif;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
}

/********header********/

.masthead {
  width: 60%;
  padding-top: 60px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.masthead h1 {
  margin: 0 auto;
}

/********list-inputs********/

.list-container {
  width: 70%;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: #ffffff;
  opacity: 0.4;
}

.item-input-container, .quantity-input-container, .cost-input-container, .btn-container {
  display: inline-block;
  padding-top: 10px;
  padding-right: 1%;
  padding-left: 1%;
  height: 30px;
}

.item-input-container {
  width: 50%;
  padding-left: 2%;
}

.quantity-input-container, .cost-input-container {
  width: 16%;
}

input {
  width: 100%;
  height: 100%;
  color: black;
  border-color: black;
}

.btn-container {
  width: 30px;
  padding: 0;
}

.btn-container button {
  width: 100%;
  padding: 0;
  border-color: black;
  border-radius: 25%;
  font-size: 12px;
}

/********registered-inputs********/

.item, .quantity, .cost {
  display: inline-block;
  padding-top: 10px;
  padding-right: 1%;
  padding-left: 2%;
  height: 30px;
}

.item {
  width: 45%;
}

.quantity, .cost  {
  width: 16%;
}

.checkbox {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding-top: 20px;
  padding-left: 1%;
}

.checked p {
  text-decoration: line-through;
  font-style: italic;
}

/********footer********/

.content-footer {
  padding-top: 1px;
  padding-bottom: 2%;
  margin-bottom: 0;
  width: 100%;
  height: 20px;
  text-align: center;
}

.content-footer p {
  margin-top: 0;
}

.content-footer a {
  color: #8A0808;
}

/********media-queries********/

@media only screen and (max-width: 768px) {
  .list-container {
    width: 85%;
  }
  input {
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
  .list-container {
    width: 100%;
  }
  .item-input-container {
    width: 45%;
  }
  .quantity-input-container, .cost-input-container {
    width: 15%;
  }
  input {
    font-size: 12px;
  }
  .btn-container {
    padding-left: 1%;
  }
}
