body {
  width: 100%;
  background-image: url("http://40.media.tumblr.com/e38b57f4c154787e3cb5fc244af90ed9/tumblr_nkymrq1Fys1slhhf0o1_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Helvetica", sans serif;
}

/********header********/

.masthead {
  width: 60%;
  padding-top: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.masthead h1 {
  margin: 0 auto;
}

/********list-inputs********/

.list-container {
  width: 70%;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 60px;
  background-color: #ffffff;
  opacity: 0.4;
}

.item-input, .item-quantity-input, .item-cost-input, .btn-container {
  display: inline-block;
  padding-top: 10px;
  padding-right: 1%;
  padding-left: 1%;
  height: 30px;
}

.item-input {
  width: 50%;
  padding-left: 2%;
}

.item-quantity-input {
  width: 18%;
}

.item-cost-input {
  width: 18%;
}

input {
  width: 100%;
  height: 100%;
  color: black;
  border-color: black;
}

.btn-container {
  width: 30px;
}

.btn-container button {
  width: 100%;
  padding: 0;
  border-color: black;
  border-radius: 25%;
  font-size: 12px;
}

/********registered-inputs********/

.item, .quantity, .cost {
  display: inline-block;
  padding-top: 10px;
  padding-right: 1%;
  padding-left: 2%;
  height: 30px;
}

.item {
  width: 45%;
}

.quantity, .cost  {
  width: 18%;
}

.checkbox {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding-top: 20px;
  padding-left: 1%;
}

.checked p {
  text-decoration: line-through;
  font-style: italic;
}

/********footer********/

.content-footer {
  padding-top: 1px;
  padding-bottom: 2%;
  margin-bottom: 0;
  width: 100%;
  height: 20px;
  text-align: center;
/*  background-color: #ffffff;
  opacity: 0.4;*/
}

.content-footer a {
  color: #8A0808;
}



